@model WebShop.ModelViews.ChangePasswordViewModel
<div class="myaccount-details">
    <form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="myaccount-form">
        <div class="myaccount-form-inner">

            <div class="single-input mb-4">
                <label>
                    Mật khẩu hiện tại *
                </label>
                <input asp-for="PasswordNow" type="password" class="form-control" placeholder="">
            </div>
            <div class="single-input mb-4">
                <label>
                    Mật khẩu mới *
                </label>
                <input asp-for="Password" type="password" class="form-control">
            </div>
            <div class="single-input mb-4">
                <label>
                    Nhập lại mật khẩu *
                </label>
                <input asp-for="ConfirmPassword" type="password" class="form-control">
            </div>
            <div class="single-input mb-4">
                <button type="submit" class="btn btn-info btn-block mb-3 ">Đổi mật khẩu</button>

                @*<button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                    <span>Lưu thay đổi</span>
                </button>*@
            </div>
        </div>
    </form>
</div>
