@model WebShop.Models.Supplier

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="page-header">
            <h2 class="header-title">Sửa nhà cung cấp</h2>
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                    <a class="breadcrumb-item" asp-area="Admin" asp-controller="Suppliers" asp-action="Index">Danh sách nhà cung cấp</a>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin nhà cung cấp: @Model.Name</h4>
        <div class="row">
            <div class="col-md-12" style="background-color: #FAEAEA">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SupplierId" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label mt-3">Tên nhà cung cấp</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Địa chỉ</label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductQuantity" class="control-label">Số lượng hàng cung cấp</label>
                        <input asp-for="ProductQuantity" class="form-control" />
                        <span asp-validation-for="ProductQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<input type="submit" value="Cập nhật" class="btn btn-info  m-r-5" />*@
                        <button type="submit" class="btn btn-info"><i class="far fa-save m-r-5 fa-lg"></i>Cập nhật</button>
                        <a class="btn btn-warning  m-r-5" asp-action="Index"><i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</a>

                    </div>
                </form>
            </div>
        </div>

        <div>
            
        </div>
    </div>
</div>


