@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Về chúng tôi</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Về chúng tôi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/assets/images/about/banner/1-1-1920x598.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img src="~/images/about/tui-vascara.png" alt="Banner Images">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">Welcome To Vascara</span>
                            <h2 class="title font-size-60 mb-6">Giới thiệu VASCARA</h2>
                            <p class="short-desc mb-0">Được biết đến là thương hiệu thời trang nữ đầu tiên sở hữu 137 cửa hàng trên toàn quốc cùng kênh thương mại điện tử www.vascara.com với giao diện hoàn toàn mới, đáp ứng nhu cầu mua sắm của những tín đồ thời trang khắp cả nước, VASCARA mang đến cho nàng nhiều lựa chọn giày dép, túi xách, balo, ví, mắt kính… được thiết kế hiện đại trẻ trung, tạo nên phong cách tinh tế cho phái đẹp mà vẫn hòa nhịp cùng xu hướng thời trang quốc tế.. </p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="/">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<!-- Shipping Area End Here -->
