@model WebShop.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách quyền</a>
            <span class="breadcrumb-item active">Thêm quyền </span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body" style="background-color:#FFF0F5	">
        <div class="row">
            <div class="col-md-6">
                <form  asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label">Tên quyền</label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Mô tả</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<input type="submit" value="Create" class="btn btn-primary" />*@
                        <button class="btn btn-primary btn-tone m-r-5" type="submit"><i class="fas fa-user-plus fa-lg m-r-5"></i>Lưu</button>
                        @*   <a asp-action="Index">Back to List</a>*@
                        <a class="btn btn-warning btn-tone m-r-5 " asp-action="Index"><i class="fas fa-undo fa-lg m-r-5"></i>Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div>
</div>

