@model WebShop.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Thêm đơn hàng</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh sách đơn hàng</a>

        </nav>
    </div>
</div>

<div class="row">
    <div class="modal-body" style="background-color:#FAEAEA">
        <div class="card">
            <div class="card-body" style="background-color:#FAEAEA">
                <form asp-action="Create">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CustomerId" class="control-label">Mã khách hàng *</label>
                                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="OrderDate" class="control-label">Ngày mua *</label>
                                <input asp-for="OrderDate" class="form-control" />
                                <span asp-validation-for="OrderDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ShipDate" class="control-label">Ngày giao hàng *</label>
                                <input asp-for="ShipDate" class="form-control" />
                                <span asp-validation-for="ShipDate" class="text-danger"></span>
                            </div>
                        </div>
                        

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TransactStatusId" class="control-label">Trạng thái đơn hàng *</label>
                                <select asp-for="TransactStatusId" class="form-control" asp-items="ViewBag.TransactStatusId"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Deleted" class="control-label">Xóa hóa đơn</label>
                                <input asp-for="Deleted" class="form-control" />
                                <span asp-validation-for="Deleted" class="text-danger"></span>
                            </div>
                        </div>

                        

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Paid" class="control-label">Được phép trả hàng</label>
                                <input asp-for="Paid" class="form-control" />
                                <span asp-validation-for="Paid" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PaymentDate" class="control-label">Ngày thanh toán *</label>
                                <input asp-for="PaymentDate" class="form-control" />
                                <span asp-validation-for="PaymentDate" class="text-danger"></span>
                            </div>
                        </div>
@*                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PaymentId" class="control-label"></label>
                                <input asp-for="PaymentId" class="form-control" />
                                <span asp-validation-for="PaymentId" class="text-danger"></span>
                            </div>
                        </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Note" class="control-label">Ghi chú</label>
                                <input asp-for="Note" class="form-control" />
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Address" class="control-label">Địa chỉ *</label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        @*<div class="form-group">
                        <label asp-for="LocationID" class="control-label"></label>
                        <input asp-for="LocationID" class="form-control" />
                        <span asp-validation-for="LocationID" class="text-danger"></span>
                        </div>*@
                        @*                        <div class="form-group">
                        <label asp-for="District" class="control-label"></label>
                        <input asp-for="District" class="form-control" />
                        <span asp-validation-for="District" class="text-danger"></span>
                        </div>*@
                        @*                  <div class="form-group">
                        <label asp-for="Ward" class="control-label"></label>
                        <input asp-for="Ward" class="form-control" />
                        <span asp-validation-for="Ward" class="text-danger"></span>
                        </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TotalMoney" class="control-label">Tổng tiền *</label>
                                <input asp-for="TotalMoney" class="form-control" />
                                <span asp-validation-for="TotalMoney" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<input type="submit" value="Lưu" class="btn btn-info btn-tone m-r-5" />*@
                               @* <a asp-action="Index">Back to List</a>*@
                                <button type="submit" class="btn btn-info  m-r-5"><i class="far fa-save m-r-5 fa-lg"></i>Lưu</button>
                               |
                                <a class="btn btn-warning   m-r-5" asp-action="Index"> <i class="fas fa-undo m-r-5 fa-lg"></i>Quay lại</a>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
</div>

