<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Adminassets/images/logo/favicon.png">

    <!-- page css -->
    <link href="~/Adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">


    <!-- Core css -->
    <link href="~/Adminassets/css/app.min.css" rel="stylesheet">
</head>
<body>

    @RenderBody()
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Core Vendors JS -->
    <script src="~/Adminassets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/Adminassets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/Adminassets/js/pages/dashboard-e-commerce.js"></script>

    <!-- Core JS -->
    <script src="~/Adminassets/js/app.min.js"></script>
</body>