<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="#">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>VND</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="~/assets/img/icon/search.png" /></a>
        <a href="#"><img src="~/assets/img/icon/heart.png" /></a>
        <a href="cart.html"><img src="~/assets/img/icon/cart.png" /> <span>@await Component.InvokeAsync("NumberCart")</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top" style="background-color:#87CEFA">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Miễn phí vận chuyển, bảo đảm đổi trả hoặc hoàn tiền trong 30 ngày.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a href="/dang-nhap.html?returnUrl=/checkout.html">Đăng nhập</a>
                            <a href="dang-ky.html">Đăng ký</a>
                        </div>
                        <div class="header__top__hover">
                            <span><i class="fas fa-map-marker-alt mr-2"></i>Chọn cửa hàng</span>
                            <ul class="text-lg-left">
                                <li>Mật Candy - Phố Xốm</li>
                                <li>Mật Xinh - TP. HCM</li>
                                <li>Mật Xiuiu - Đà Nẵng</li>
                                <li>Cam Cat - Nguyễn Trãi</li>
                                <li>Cam H2T - P.Lê Văn Hiến</li>
                                <li>Cam PYT - Trường Chinh</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img src=~/assets/images/logo/logoadmin.jpg /></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu mt-4">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li>
                            <a href="page.html">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="/shop-details.html">Shop Details</a></li>
                                <li><a href="/cart.html">Shopping Cart</a></li>

                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="page.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3 mt-4">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="~/assets/img/icon/search.png" /></a>
                    <a href="#"><img src="~/assets/img/icon/heart.png" /></a>
                    <a href="cart.html"><img src="~/assets/img/icon/cart.png" /> @await Component.InvokeAsync("NumberCart")</a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->