<style>
    h6:hover {
        text-decoration: underline;
    }
</style>
<div class="check-success" style="text-align:center">

    <img style="width:250px; height:250px; " src="~/images/checkout/tichxanh.jpg" alt="checkout" />
    <h3><strong>Đơn hàng được khởi tạo thành công</strong></h3>
    </br>
    <h5>Cảm ơn bạn đã cho chúng tôi cơ hội được phục vụ. Đơn hàng của quý khách đang được xử lý.</h5>
    <br />
    <a href="index.html">
        <h6 style="cursor:pointer;color:blue">Trở về trang chủ</h6>
    </a>
    <br />
    <br />
</div>
